.footer {
  width: 130%;
  margin-left: -15%;
  margin-bottom: -10px;
  overflow-x: hidden;
}

.body, html {
  background: #fff011;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.content {
  width: 1000px;
  margin: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  border-radius: 1em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
}

.ip {
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.description {
  text-align: center;
  color: red;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.name {
  text-align: center;
  color: red;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.address {
  text-align: center;
}

.block-title {
  color: red;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow:
   -1px -1px 0 #555,
    1px -1px 0 #555,
   -1px  1px 0 #555,
    1px  1px 0 #555;
}

.block-content {
  padding-left: 15px;
  font-size: 20px;
}

.phone {
  text-align: center;
  font-size: 40px;
  color: red;
  margin-top: 30px;
  font-weight: bold;
}
.phone a {
  color: red;
  text-decoration: none;
}

.highlight {
  font-weight: bold;
}

.dostavka {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .content {
    width: 100%;
    box-shadow: none;
  }
  .block-content {
    font-size: 18px;
  }
  .block-title {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .phone {
    font-size:25px;
  }
}

@media (max-width: 365px) {
  .phone {
    font-size:20px;
  }
  .description {
    font-size: 35px;
  }
}

@media (min-width: 1001px) {
  .footer {
    margin-top: 30px;
  }
}
